body{
  background-image: url('./assets/wallpaper.jpg');
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
}

hr, footer{
  color: white;
  border-color: white;
}

h1, h2{
  color: white;
}
